body {
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;
    background-image: url('images/background1.jpg');
    background-size: cover;
    color: #333;
    text-align: auto;
}

header {
    background-color: #0eb7cd;
    color: white;
    padding: 1.5px;
    text-align: center;
}

nav ul {
    list-style-type: square;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(187, 3, 3);
    text-decoration: none;
    font-display: bold;
    align-content: center;
}

nav ul li a:hover {
    background-color: rgb(217, 236, 235);
    text-decoration:underline;
}

section {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
    width: auto;
    height: auto;
}

h1, h2 {
    color: rgb(187, 3, 3);
    text-align: center;
}

footer {
    text-align: center;
    background-color: #0eb7cd;
    color: white;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

pre {
    background-color: #f4f4f4;
    padding: auto;
    border: 0.5px solid rgb(187, 3, 3);
    overflow-x: auto;
}
